/* $black1: #0E1116; */
/* $black2: #171C24; */
/*  */
/* $white1: #E5E1EE; */
/* $white2: #D8D2E6; */
/*  */
/* $red: #C81D25; */
/* $yellow: #FDCA0E; */
/* $pink: #F55EAD; */
/* $cyan: #25AABF; */
/* $blue: #1A6DAF; */
/* $green: #99E1D9; */

Input, Select, TextArea {
  border-title-align: right;
  border-title-style: bold;
  border-title-color: white;
  border-title-background: $accent;
}

ForgeHeader {
  background: $background;

  .title {
    color: white;
  }

  .subtitle {
    color: grey;
  }
}

OptionList {
    .option-list--option-highlighted {
        background: $surface;
    }
}

ResultWindow {
  background: $background;
  border: tall $accent;
  
  OptionList:focus {
    border: tall $background;
  }
}

* {
  scrollbar-size: 0 1;
}
